@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster&family=Overlock&family=Rancho&display=swap');

.marquee-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

.home-banner-bg {
    background: #1A161F;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px 0px 230px 0px;
}

.home-banner {
    display: flex;
    justify-content: space-between;
}

.welcome-text-1 {
    color: white;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.welcome-text-2 {
    color: white;
    font-size: 55px;
    font-family: 'Lobster', cursive;
}

.company-name {
    color: #ca2128;
}

.searchandbutton {
    display: flex;
}

.search-input {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 75%;
}

.searchButton {
    height: 56px;
    border-radius: 10px !important;
}

.courses-icon {
    width: 70px;
}

.instructor-icon {
    width: 50px;
}

.user-icon {
    width: 60px;
}

.courses-text {
    color: white;
    font-size: 25px;
    font-family: 'Bad Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Overlock', cursive;
    font-family: 'Rancho', cursive;
}

.instructor-text {
    color: white;
    font-size: 25px;
    font-family: 'Bad Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Overlock', cursive;
    font-family: 'Rancho', cursive;
}


.user-text {
    color: white;
    font-size: 25px;
    font-family: 'Bad Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Overlock', cursive;
    font-family: 'Rancho', cursive;
}



@media only screen and (max-width: 1080px) {
    .home-banner {
        display: flex;
        flex-direction: column;
    }

    .home-player {
        width: 100%;
    }

    .search-input {
        width: 50%;
    }
}