.practice-exam-heading-text {
    margin-top: 40px;
    font-family: 'Bad Script', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Overlock', cursive;
    font-family: 'Rancho', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
}