@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster&family=Overlock&display=swap');

.logo {
    width: 70px;
}

.nav-link {
    color: black;
    font-family: 'Bad Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Overlock', cursive;
    display: inline-block;
    color: #000;
    text-decoration: none;

}

.nav-link-drop {
    font-family: 'Bad Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Overlock', cursive;
}

@media only screen and (max-width: 1080px) {
    .search-input {
        margin-bottom: 10px;
    }
}